/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-real-big-plugins-gravatar-testimonial input[type='text']{
	border: none;
	line-height: 1.6;
	color: #222;
	font-size: 1.4em;
}
