/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-real-big-plugins-gravatar-testimonial {
	margin: 0 0 1rem;
    padding: .5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #cacaca;

	p {
		line-height: 1.6;
		color: #222;
		font-size: 1.4em;
	}
}
